calendar_testing
ENV.md

*.jpg
*.jpeg
*.png
auth_code.txt
server/src/prompts/*.txt
server/experimentations

.env
.env.dev
for_dev

venv
.DS_Store

chroma*
index_storage
server/rag/data*

bkp/

__pycache__/

vectorization/files

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
